# Ignore all files inside any 'pdfs' or 'papers' directories
**/pdfs/**
**/papers/**
**/tmp/**
**/topics/**

# But track .gitkeep files to preserve directory structure
!**/pdfs/.gitkeep
!**/papers/.gitkeep
!**/tmp/.gitkeep
!**/topics/.gitkeep

scripts/__pycache__/
bank_index.md
config.json
!config.json.exmaple
map.md
search_queue.json
!search_queue.json.example
